{% form 'cart', cart %}
    <h1>Cart</h1>

    {% if cart.empty? %}
        <p>Cart is Empty!!!</p>
    {% else %}
        {% for item in cart.items %}
            <div>
                <img src="{{ item.image | image_url: width: 200 }}" loading="lazy" width="200" height="125"  />
                <h2>{{ item.title }}</h2>
                <p>{{ item.final_line_price | money }}</p>
                <input name="updates[]" value="{{ item.quantity }}"/>
                <a href="{{ item.url_to_remove }}">Remove</a>
            </div>
        {% endfor %}

        <hr />

        <p><strong>Total: {{ cart.total_price | money }}</strong></p>

        <hr />

        <button type="submit" name="update">Update</button>

        <button type="submit" name="checkout">Checkout</button>
    {% endif %}
{% endform %}